.contact-us-box {
  padding: 10px 0;
  .info {
    height: 20px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}
.cont-cont {
  padding: 20px 0;
  .cont-tname {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .cont-tmain {}
}