.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #1C2327 !important;
  color: #fff !important;
  &:hover {
    color: #409EFF !important;
  }
}
.el-menu {
  background: #1C2327 !important;
}
.el-menu--collapse .el-menu .el-submenu, .el-menu--popup {
  min-width: 100px !important;
}
.el-menu-bobo {
  height: 50px;
  line-height: 50px;
  &.el-menu {
    background: #1C2327;
  }
  &.el-menu--horizontal {
    border-bottom: none !important;
    .el-menu-item {
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 15px !important;
      &.is-active {
        color: #409EFF;
        border-bottom: 2px solid transparent;
      }
    }
    .el-submenu .el-submenu__title {
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 15px;
      &:hover {
        color: #409EFF;
      }
    }
    .el-menu-item:not(.is-disabled):focus, .el-menu-item:not(.is-disabled):hover {
      outline: 0;
      color: #409EFF;
    }
    .el-menu-item:not(.is-disabled):focus, .el-menu-item:not(.is-disabled):hover, .el-submenu .el-submenu__title:hover {
      background: none !important;
    }
    .el-submenu:focus .el-submenu__title, .el-submenu:hover .el-submenu__title {
      color: #409EFF !important;
    }
  }
}