.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #1C2327 !important;
  color: #fff !important;
  &:hover {
    color: #409EFF !important;
  }
}
.el-loading-mask {
  // background-color: rgba(255,255,255,.6) !important;
}
.el-menu {
  background: #1C2327 !important;
}
.el-menu--collapse .el-menu .el-submenu, .el-menu--popup {
  min-width: 100px !important;
}
.el-menu-bobo {
  height: 50px;
  line-height: 50px;
  &.el-menu {
    background: #1C2327;
  }
  &.el-menu--horizontal {
    border-bottom: none !important;
    .el-menu-item {
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 15px !important;
      &.is-active {
        color: #409EFF;
        border-bottom: 2px solid transparent;
      }
    }
    .el-submenu {
      .el-submenu__title {
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 15px;
        &:hover {
          color: #409EFF;
        }
      }
      &.is-active {
        .el-submenu__title {
          height: 50px;
          line-height: 50px;
          color: #409EFF;
          font-size: 15px;
          border-bottom: 2px solid transparent;
          &:hover {
            color: #409EFF;
          }
        }
      }
    }
    .el-menu-item:not(.is-disabled):focus, .el-menu-item:not(.is-disabled):hover {
      outline: 0;
      color: #409EFF;
    }
    .el-menu-item:not(.is-disabled):focus, .el-menu-item:not(.is-disabled):hover, .el-submenu .el-submenu__title:hover {
      background: none !important;
    }
    .el-submenu:focus .el-submenu__title, .el-submenu:hover .el-submenu__title {
      color: #409EFF !important;
    }
  }
}


/* 评论 */
.comment-textarea-box {
  border-radius: 4px;
  background: #f7f7f7;
  padding: 10px;
  box-shadow: inset 2px 2px 6px rgba(0,0,0,.08);
  .comment-textarea {
    .el-textarea__inner {
      border: none;
      background: #f7f7f7;
    }
  }
}
.comment-tools {
  padding: 10px 0 0;
  .username {
    float: right;
    height: 40px;
    width: 170px;
    background: #e8e8e8;
    border-radius: 20px;
    padding: 10px 8px 10px 16px;
    margin: 0;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,.08);
    cursor: default;
    .el-input {
      width: 110px;
      .el-input__inner {
        padding: 0;
        width: 110px;
        height: 20px;
        line-height: 20px;
        border: none;
        background: #e8e8e8;
      }
    }
    .el-input__icon {
      height: 20px;
      line-height: 20px;
      font-size: 20px;
    }
  }
}

.ql-editor {
  .ql-syntax {
    padding: 10px 20px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    background: #000;
    border-radius: 6px;
  }
}

